.inputStyle {
    border: 2px solid transparent;
    border-radius: 30px;
    background-color: #EFEFEF;
    padding: 10px;
    outline: 0;
    width: 100%;
}

.inputStyle:hover {
    border: 2px solid #0D5190;
}

.inputStyle:focus {
    border: 2px solid #0D5190;
}

.inputStyle[type="file"] {
    display: none;
}
